In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter("ignore")

In [18]:
# Total
europe_worker_force_total = pd.read_excel('../../data/raw_data/europe_worker_force.xlsx', 'Sheet 1', dtype=str)

# Managers
europe_worker_force_managers = pd.read_excel('../../data/raw_data/europe_worker_force.xlsx', 'Sheet 2', dtype=str)

# Professionals
europe_worker_force_professionals = pd.read_excel('../../data/raw_data/europe_worker_force.xlsx', 'Sheet 3', dtype=str)

# Technicians and associate professionals
europe_worker_force_technicians = pd.read_excel('../../data/raw_data/europe_worker_force.xlsx', 'Sheet 4', dtype=str)

# Clerical support workers
europe_worker_force_clerical_support = pd.read_excel('../../data/raw_data/europe_worker_force.xlsx', 'Sheet 5', dtype=str)

In [13]:
def clean_database(df):

    # We get the rows which contain the information we want to use
    df = df.drop(range(0, 11))
    df = df.drop(range(50, 57))

    # This will replace all the cells with invalid characters with a NaN
    df.replace({':': np.nan, 'd': np.nan, 'b': np.nan}, inplace=True)

    # This will remove columns with more than 50% Nan
    df = df.loc[:, df.isnull().mean() < .5]

    # This will create a dictionary to rename all the columns
    columns_dict_keys = df.columns.tolist()
    columns_dict_values = ['Country','2019_total', '2019_males', '2019_females', '2020_Q1_total', '2020_Q1_males', '2020_Q1_females', '2020_Q2_total', '2020_Q2_males', '2020_Q2_females', '2020_Q3_total', '2020_Q3_males', '2020_Q3_females', '2020_Q4_total', '2020_Q4_males', '2020_Q4_females', '2021_Q1_total', '2021_Q1_males', '2021_Q1_females', '2021_Q2_total', '2021_Q2_males', '2021_Q2_females', '2021_Q3_total', '2021_Q3_males', '2021_Q3_females', '2021_Q4_total', '2021_Q4_males', '2021_Q4_females', '2022_total', '2022_males', '2022_females']
    columns_rename_dict = dict(zip(columns_dict_keys, columns_dict_values))
    df.rename(columns=columns_rename_dict, inplace=True)

    # This will convert all the columns to numeric except 'Country'
    cols = df.columns.drop('Country')
    df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

    # This will merge all the quarter values into a new column with the equivalent mean for the year
    total_2020 = ['2020_Q1_total', '2020_Q2_total', '2020_Q3_total', '2020_Q4_total']
    males_2020 =  ['2020_Q1_males', '2020_Q2_males', '2020_Q3_males', '2020_Q4_males']
    females_2020 = ['2020_Q1_females', '2020_Q2_females', '2020_Q3_females', '2020_Q4_females']
    total_2021 = ['2021_Q1_total', '2021_Q2_total', '2021_Q3_total', '2021_Q4_total']
    males_2021 = ['2021_Q1_males', '2021_Q2_males', '2021_Q3_males', '2021_Q4_males']
    females_2021 = ['2021_Q1_females', '2021_Q2_females', '2021_Q3_females', '2021_Q4_females']
    
    df['2020_total'] = df[total_2020].mean(axis=1)
    df['2020_males'] = df[males_2020].mean(axis=1)
    df['2020_females'] = df[females_2020].mean(axis=1)
    df['2021_total'] = df[total_2021].mean(axis=1)
    df['2021_males'] = df[males_2021].mean(axis=1)
    df['2021_females'] = df[females_2021].mean(axis=1)

    # We drop all the quarter columns we've assigned to variables before
    new_list = total_2020 + males_2020 + females_2020 + total_2021 + males_2021 + females_2021
    df.drop((new_list), axis=1, inplace=True)

    # We resort the columns and assing 'Country to the first one
    df.sort_index(axis=1, inplace=True)
    first_column = df.pop('Country')
    df.insert(0, 'Country', first_column)
  
    return df

In [19]:
europe_worker_force_total = clean_database(europe_worker_force_total)
europe_worker_force_managers = clean_database(europe_worker_force_managers)
europe_worker_force_professionals = clean_database(europe_worker_force_professionals)
europe_worker_force_technicians = clean_database(europe_worker_force_technicians)
europe_worker_force_clerical_support = clean_database(europe_worker_force_clerical_support)

In [20]:
# We drop two extra rows from two of the dataframes
europe_worker_force_managers.drop(range(39, 40), inplace=True)
europe_worker_force_clerical_support.drop(range(39, 40), inplace=True)

In [8]:
europe_worker_force_total.to_csv('../03_filtered_data/europe_worker_force_total.csv', index = False)
europe_worker_force_managers.to_csv('../03_filtered_data/europe_worker_force_managers.csv', index = False)
europe_worker_force_professionals.to_csv('../03_filtered_data/europe_worker_force_professionals.csv', index = False)
europe_worker_force_technicians.to_csv('../03_filtered_data/europe_worker_force_technicians.csv', index = False)
europe_worker_force_clerical_support.to_csv('../03_filtered_data/europe_worker_clerical_support.csv', index = False)

In [21]:
europe_worker_force_total

,Country,2019_females,2019_males,2019_total,2020_females,2020_males,2020_total,2021_females,2021_males,2021_total,2022_females,2022_males,2022_total
11,European Union - 27 countries (from 2020),80584.8,87324.7,167909.5,78776.350,85480.500,164256.850000,80349.550,86145.650,166495.200,81267.5,87124.5,168392.0
12,European Union - 28 countries (2013-2020),93970.3,100849.0,194819.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,European Union - 15 countries (1995-2004),76084.1,80508.4,156592.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Euro area - 19 countries (from 2015),62223.2,66505.6,128728.8,60702.450,65013.175,125715.625000,61856.100,65584.925,127441.000,62676.1,66571.6,129247.7
15,Belgium,2032.6,2124.5,4157.1,1992.300,2081.900,4074.200000,2034.100,2111.800,4145.925,2069.4,2142.3,4211.6
16,Bulgaria,1330.9,1470.3,2801.1,1294.125,1406.800,2700.925000,1281.175,1387.300,2668.475,1293.0,1375.3,2668.4
17,Czechia,2018.8,2312.9,4331.6,1972.375,2285.550,4257.950000,1985.050,2296.625,4281.700,1954.2,2272.3,4226.4
18,Denmark,1258.8,1323.0,2581.9,1240.450,1297.425,2537.875000,1259.975,1305.275,2565.250,1283.5,1316.5,2600.0
19,Germany (until 1990 former territory of the FRG),18233.6,19751.9,37985.4,NaN,NaN,NaN,17767.900,19223.400,36991.325,18032.5,19694.2,37726.7
20,Estonia,286.6,285.0,571.5,276.175,270.550,546.700000,280.925,268.575,549.500,291.8,280.0,571.8
21,Ireland,979.8,996.5,1976.4,944.900,977.825,1922.700000,1003.675,1008.250,2011.900,1059.8,1054.4,2114.2
22,Greece,1200.2,1435.7,2635.9,1198.725,1416.025,2614.725000,1222.275,1424.350,2646.600,1266.7,1478.6,2745.3
23,Spain,8030.7,8711.6,16742.3,7642.550,8344.750,15987.325000,7960.100,8522.975,16483.075,8087.1,8687.5,16774.5
24,France,11930.6,11725.4,23656.0,11765.450,11639.300,23404.725000,12129.200,11823.325,23952.575,12214.1,11832.8,24047.0
25,Croatia,712.6,762.5,1475.1,685.175,750.975,1436.150000,696.275,748.625,1444.900,708.3,730.2,1438.6
26,Italy,8073.6,9779.3,17852.9,7886.950,9599.725,17486.675000,7851.150,9515.525,17366.675,7895.8,9615.7,17511.6
27,Cyprus,175.7,183.0,358.7,173.825,180.925,354.750000,182.475,191.800,374.300,187.3,199.2,386.5
28,Latvia,399.1,373.2,772.2,380.550,362.700,743.250000,366.125,350.525,716.675,371.4,351.3,722.7
29,Lithuania,614.1,561.2,1175.3,593.675,554.625,1148.325000,590.450,571.400,1161.900,596.4,560.8,1157.2
30,Luxembourg,122.1,140.0,262.1,123.975,138.525,262.500000,127.675,144.200,271.900,128.8,147.9,276.7
31,Hungary,1836.0,2123.3,3959.3,1786.025,2088.725,3874.750000,1921.000,2076.150,3997.150,1942.3,2079.9,4022.1
32,Malta,92.5,124.8,217.3,94.950,120.750,215.700000,99.250,123.600,222.875,103.8,126.3,230.1
33,Netherlands,3605.7,3743.6,7349.4,3575.900,3701.425,7277.300000,3800.425,3861.425,7661.850,3828.2,3938.0,7766.2
34,Austria,1840.2,1976.9,3817.1,1815.325,1930.800,3746.125000,1815.225,1950.850,3766.075,1844.3,1956.1,3800.4
35,Poland,6082.5,6890.2,12972.8,6072.525,6755.850,12828.400000,6310.950,6803.800,13114.725,6341.6,6797.6,13139.2
36,Portugal,2058.1,1945.1,4003.2,2034.725,1901.300,3936.025000,2054.350,1927.100,3981.500,2101.3,1952.8,4054.1
37,Romania,2883.4,3679.3,6562.7,2829.650,3636.625,6466.300000,2849.175,3701.850,6551.025,2898.5,3719.7,6618.2
38,Slovenia,415.5,440.6,856.1,401.200,448.350,849.550000,396.700,431.600,828.300,401.8,432.4,834.2
39,Slovakia,1038.5,1134.5,2173.1,1020.300,1103.300,2123.600000,1082.700,1068.450,2151.150,1086.3,1062.9,2149.2
40,Finland,1093.9,1072.9,2166.7,1086.525,1069.900,2156.425000,1091.350,1065.625,2156.975,1109.3,1058.3,2167.7
41,Sweden,2238.6,2257.6,4496.3,2193.500,2245.350,4438.900000,2189.850,2241.050,4430.900,2170.0,2261.4,4431.5
42,Iceland,82.8,85.7,168.5,80.300,84.750,165.075000,79.325,84.475,163.775,83.7,87.6,171.2
43,Norway,1196.0,1278.0,2474.0,1193.275,1267.500,2460.750000,1229.975,1321.900,2551.850,1245.1,1354.9,2600.1
44,Switzerland,1906.9,2079.9,3986.7,1890.425,2057.650,3948.100000,1866.050,2020.200,3886.300,1860.6,2011.8,3872.4
45,United Kingdom,13385.6,13524.2,26909.8,13414.900,13537.100,26951.966667,NaN,NaN,NaN,NaN,NaN,NaN
46,Montenegro,92.5,93.4,185.9,80.750,88.350,169.075000,NaN,NaN,NaN,NaN,NaN,NaN
47,North Macedonia,278.9,368.5,647.4,275.175,373.550,648.750000,NaN,NaN,NaN,NaN,NaN,NaN
48,Serbia,980.8,1117.2,2097.9,981.550,1115.675,2097.200000,1014.900,1156.900,2171.800,1019.3,1172.1,2191.4
49,Turkey,5919.5,13475.3,19394.8,5684.950,12909.900,18594.875000,NaN,NaN,NaN,NaN,NaN,NaN